<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscripts.css" /></noscript>
    <title>Upload Image</title>

</head>
<body>
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <h1>Medi AI</h1>
        <p>Your Personal Health Partner</p>
    </header>

    <!-- Main -->
    <div id="main">
        <section id="content" class="main">

            <h2>Upload an Image</h2>

            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <br><br>
                <button type="submit">Upload</button>
            </form>

        </section>
    </div>
</div>

</body>
</html>
